body {
	background: rgb(13, 10, 11);
	background: linear-gradient(
		300deg,
		rgba(13, 10, 11, 1) 0%,
		rgba(0, 159, 194, 1) 100%
	);
	width: 100vw; /* 100% of the viewport width */
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}
